<head>
      <link href="//maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
      <script src="//maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>
      <script src="//cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
      <!------ Include the above in your HEAD tag ---------->
      <link href="views/style.css" rel="stylesheet">

      <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
      <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
</head>
  <div class="wrapper fadeInDown">
      <h1 > Mon gestionnaire de taches</h2>
      <h2 > Connectez vous</h2>
    <div id="formContent">
      <form ng-submit="login()">
        <input type="text" id="login" class="fadeIn second" placeholder="Nom d'utilisateur" ng-model="Data.username">
        <input type="password" id="password" class="fadeIn third"  placeholder="Mot de passe" ng-model="Data.password">
        <input type="submit" class="fadeIn fourth" value="Se connecter">
      </form>


      <div id="formFooter">
        <a class="underlineHover" ng-click="redirectRegister()">Vous êtes nouveau ?</a>
      </div>

    </div>
  </div>
