
<!------ Include the above in your HEAD tag ---------->
<head>
    <link href="//maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
    <script src="//maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>
    <script src="//cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <!------ Include the above in your HEAD tag ---------->
    <link href="views/style.css" rel="stylesheet">

    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
</head>
<body>
    <div class="wrapper fadeInDown">
        <h1 > Mon gestionnaire de taches</h2>
        <h2 > S'enregistrer</h2>
      <div id="formContent">
        <!-- Tabs Titles -->
  
       
    
        <!-- Login Form -->
      <!-- <form action='/new' method="POST"> -->
      <form>
          <input type="text" id="login" class="fadeIn second" name="login" placeholder="Votre nom d'utilisateur" ng-model="insData.username">
          <input type="password" id="password" class="fadeIn third" name="login" placeholder="Votre Mot de passe" ng-model="insData.password">
          <input type="submit" class="fadeIn fourth" value="S'enregistrer'" ng-click="register()">
      </form>

    </div>
  </div>

