
{% extends "layout.html" %}

{% block content %}
    <form method="POST" action="{{endpoint}}" enctype="multipart/form-data" >
        <div class="form-group">
            <label for="name">liste</label>
            <input type="text" id="name" name="name" class="form-control" value="{{liste.name}}">
        </div>
        
        
        <div class="form-group">
            {% for task in tasks %}
                <label>
                    {{task.name}}
                </label>
            {% endfor %}
    
        </div>
        <input type="submit" class="btn btn-primary" value="Enregistrer">
    </form>
{% endblock %}