<html ng-app="connexion">
<head>
      <link href="//maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
      <script src="//maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>
      <script src="//cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
      <!------ Include the above in your HEAD tag ---------->
      <link href="/style.css" rel="stylesheet">
      <script src="//ajax.googleapis.com/ajax/libs/angularjs/1.0.8/angular.min.js"></script>
      <script src="index.js"></script>
</head>
<body ng-controller="mainController">
  <div class="wrapper fadeInDown">
    <div id="formContent">
      <!-- Tabs Titles -->

      {% raw %}
        {{test}} caca
      {% endraw %}

    
      <!-- Login Form -->
      <form>
        <input type="text" id="login" class="fadeIn second" name="login" placeholder="login" ng-model="Data.username">
        <input type="text" id="password" class="fadeIn third" name="login" placeholder="password" ng-model="Data.password">
        <input type="submit" class="fadeIn fourth" value="Log In" ng-click="connexion()">
      </form>


      <div id="formFooter">
        <a class="underlineHover" href="/newuser">New user ?</a>
      </div>

    </div>
  </div>
</body>
</html>